$primary-text-color: #fcfcfc;
$title-text-color: #131313;
$accent-color: #f8d24e;
$address-text-color: #d6936d;
$gray-text-color: #ababab;
$background-color: #84a178;

$base-font-family: Montserrat, sans-serif;
$primary-font-family: Seymour + One, sans-serif;
