<!-- Section CONTACTS -->
<h2 class="visually-hidden">Contacts</h2>
<section id="contacts" class="section contacts">
  <div class="container contacts__container">
    <div class="contacts__position">
      <ul class="contacts__list list">
        <li class="contacts__item">
          <div class="contacts__wrap">
            <div class="contacts__title-box">
              <p class="contacts__title">Cafe</p>
            </div>
            <address>
              <p class="contacts__city">Chicago</p>
              <p class="contacts__street">
                10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
              </p>
            </address>
            <div class="contacts__line"></div>
            <ul class="contacts__work-list list">
              <li class="contacts__work-item">
                <p class="contacts__weekdays">Monday - Friday</p>
                <p class="contacts__worktime">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts__work-item">
                <p class="contacts__weekdays">Saturday - Sunday</p>
                <p class="contacts__worktime">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <div class="contacts__line"></div>
            <div>
              <a class="contacts__link link" href="tel:+"
                >+61(0) 383 766 284
              </a>
            </div>
            <div>
              <a class="contacts__link link" href="mailto:"
                >noreply@envato.com</a
              >
            </div>
          </div>
        </li>
        <li class="contacts__item">
          <div class="contacts__wrap">
            <div class="contacts__title-box">
              <p class="contacts__title">Foodtruck</p>
            </div>
            <address>
              <p class="contacts__city">Los Angeles</p>
              <p class="contacts__street">
                1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
              </p>
            </address>
            <div class="contacts__line"></div>
            <ul class="contacts__work-list list">
              <li class="contacts__work-item">
                <p class="contacts__weekdays">Monday - Friday</p>
                <p class="contacts__worktime">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts__work-item">
                <p class="contacts__weekdays">Saturday - Sunday</p>
                <p class="contacts__worktime">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <div class="contacts__line"></div>
            <div>
              <a class="contacts__link link" href="tel:+"
                >+61(0) 383 766 284
              </a>
            </div>
            <div>
              <a class="contacts__link link" href="mailto:"
                >noreply@envato.com</a
              >
            </div>
          </div>
        </li>
        <li class="contacts__item">
          <div class="contacts__wrap">
            <div class="contacts__title-box">
              <p class="contacts__title">Cafe</p>
            </div>
            <address>
              <p class="contacts__city">New York</p>
              <p class="contacts__street">
                726 Sterling Pl, Brooklyn, NY 11222, USA
              </p>
            </address>
            <div class="contacts__line"></div>
            <ul class="contacts__work-list list">
              <li class="contacts__work-item">
                <p class="contacts__weekdays">Monday - Friday</p>
                <p class="contacts__worktime">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts__work-item">
                <p class="contacts__weekdays">Saturday - Sunday</p>
                <p class="contacts__worktime">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <div class="contacts__line"></div>
            <div>
              <a class="contacts__link link" href="tel:+"
                >+61(0) 383 766 284
              </a>
            </div>
            <div>
              <a class="contacts__link link" href="mailto:"
                >noreply@envato.com</a
              >
            </div>
          </div>
        </li>
      </ul>
      <ul class="contacts__buttons-list list">
        <li class="contacts__button-item">
          <button
            type="button"
            class="btn contacts__btn-map"
            data-contacts-modal-open
          >
            Our Locations
            <svg class="btn-icon" width="10" height="10">
              <use href="./images/icons.svg#icon-chevron-right"></use>
            </svg>
          </button>
        </li>
        <li class="contacts__button-item">
          <button
            type="button"
            class="btn--transparent"
            data-franchise-modal-open
          >
            Franchise
            <svg class="btn-icon" width="10" height="10">
              <use href="./images/icons.svg#icon-chevron-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>

<div class="contacts-modal-backdrop is-hidden" data-contacts-modal>
  <div class="contacts-modal">
    <button class="modal__close-btn" data-contacts-modal-close type="button">
      <svg width="11" height="11">
        <use href="./images/about/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="contacts-modal__title">Our Locations</h3>
    <div class="iframe-container">
      <iframe
        class="responsive-iframe"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1656.0957455085852!2d-118.4118145!3d33.8847218!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b3eb826efffd%3A0x3688885d993893ce!2sManhattan%20Beach%20Creamery!5e0!3m2!1sru!2sua!4v1667296491043!5m2!1sru!2sua"
        width="448"
        height="260"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="contacts-modal-wrap">
      <div class="contacts-modal__map">
        <a
          class="contacts-modal__link link"
          href="https://goo.gl/maps/rnpJikCkfu1UULSJA"
          target="_blank"
          >Open map</a
        >
      </div>
    </div>
  </div>
  <script src="./js/contacts-modal.js"></script>
</div>


<div class="backdrop__contact-modal is-hidden" data-franchise-modal> 
  <div class="contact-modal"> 
    <div class="contact-modal__container"> 
      <button data-franchise-modal-close type="button" class="contact-modal__close"> 
          <svg width="11px" height="11px"> 
            <use href="./images/icons.svg#icon-off" ></use> 
          </svg> 
        </button> 
        <p class="contact-modal__title">Thank you for your interest in owning an Ice Cream shop</p>
        <p class="contact-modal__text">Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.</p>

      <form action="" class="contact-modal__form" autocomplete="off"> 
        <div class="contact-modal__field"> 
          <label class="contact-modal__label" for="name" autofocus></label> 
          <input 
            class="contact-modal__input" 
            type="text" 
            name="name" 
            id="name" 
            placeholder="Name" 
          /> 
        </div> 
        <div class="header-modal__field"> 
          <label class="header-modal__label" for="tel"></label> 
          <input 
            class="header-modal__input" 
            type="tel" 
            name="tel" 
            id="tel" 
            placeholder="Phone" 
          /> 
        </div> 
        <div class="header-modal__field"> 
          <label class="header-modal__label" for="mail"></label> 
          <input 
            class="header-modal__input" 
            type="mail" 
            name="mail" 
            id="mail" 
            placeholder="Email" 
          /> 
        </div>  
        <div class="header-modal__textarea"> 
          <label class="header-modal__label" for="comment"></label> 
          <textarea 
            class="header-modal__input" 
            
            name="comment" 
            id="comment" 
            rows="4" 
            placeholder="Comment"></textarea> 
        </div> 
        <div class="contact-modal__inner"> 
          <button class="contact-modal__button btn" type="submit">Submit</button> 
        </div> 
      </form> 
    </div> 
  </div>

      </div>
    </div>
  </div> 

</div>

