<footer class="footer">
  <div class="footer__container">
    <div class="footer__item">
      <div class="footer__wrap">
        <p class="footer__pretitle">homemade ice cream made</p>
        <p class="footer__title">with passion</p>
      </div>
      <div class="footer__info">
        <ul class="social">
          <li class="social__item">
            <a href="https://github.com/" class="social__link" target="_blank">
              <svg class="social__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-vector"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="https://telegram.org/" class="social__link" target="_blank" >
              <svg class="social__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="https://www.facebook.com/" class="social__link" target="_blank">
              <svg class="social__icon" width="20px" height="20px">
                <use href="./images/icons.svg#icon-vector1"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer__text">
          Feel free to contact
          <a href="tel:+61038376628" class="footer__tel"
            >+61 (0) 383 766 28</a
          >
        </p>
      </div>
      <div class="footer__line"></div>
    </div>
    <div class="footer__inner">
      <p class="footer__name">© 2022 - IceCream.</p>
      <p>All Rights Reserved.</p>
    </div>
  </div>
</footer>
