<div class="double">
  <section class="gallery container">
    <div class="gallery-wrap">
      <div class="swiper mySwiper gallery-wrapper">
        <ul class="gallery-list swiper-wrapper">
          <li class="gallery-image swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery1-desk-1x.jpg 1x,
                  ./images/gallery/gallery1-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/gallery/gallery1-tab-1x.jpg 1x,
                  ./images/gallery/gallery1-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/gallery/gallery1-mob-1x.jpg 1x,
                  ./images/gallery/gallery1-mob-2x.jpg 2x
                "
                media="(min-width: 480px)"
              />

              <img
                class="image-item"
                src="./images/gallery/gallery1.jpg"
                alt="Foto Ice cream with bilberry"
                width="1013"
              />
            </picture>
          </li>
          <li class="gallery-image swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery2-desk-1x.jpg 1x,
                  ./images/gallery/gallery2-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/gallery/gallery2-tab-1x.jpg 1x,
                  ./images/gallery/gallery2-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/gallery/gallery2-mob-1x.jpg 1x,
                  ./images/gallery/gallery2-mob-2x.jpg 2x
                "
                media="(min-width: 480px)"
              />
              <img
                class="image-item"
                src="./images/gallery/gallery2.jpg"
                alt="Foto Ice cream with strawberry"
                width="1013"
              />
            </picture>
          </li>
          <li class="gallery-image swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/gallery/gallery3-desk-1x.jpeg 1x,
                  ./images/gallery/gallery3-desk-2x.jpeg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/gallery/gallery3-tab-1x.jpeg 1x,
                  ./images/gallery/gallery3-tab-2x.jpeg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/gallery/gallery3-mob-1x.jpeg 1x,
                  ./images/gallery/gallery3-mob-2x.jpeg 2x
                "
                media="(min-width: 480px)"
              />
              <img
                class="image-item"
                src="./images/gallery/gallery3.jpeg"
                alt="Foto Ice cream with sugar decoration"
                width="1013"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="castomer container">
    <div class="swiper mySw castomer-article">
      <ul class="castomer-list swiper-wrapper">
        <li class="castomer-item swiper-slide">
          <blockquote class="castomer-wrap">
            <picture
              ><source
                srcset="
                  ./images/gallery/fotoEmily-1x-desk.jpg 1x,
                  ./images/gallery/fotoEmily-2x-desk.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/gallery/fotoEmily-1x-tab.jpg 1x,
                  ./images/gallery/fotoEmily-2x-tab.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/gallery/fotoEmily-1x-mob.jpg 1x,
                  ./images/gallery/fotoEmily-2x-mob.jpg 2x
                "
                media="(min-width: 480px)"
              />
              <img
                class="castomer-image"
                src="./images/gallery/fotoEmily.jpg"
                alt="Foto Emili"
                width="85"
              />
            </picture>
            <div class="castomer-box">
              <p class="castomer-text">
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </p>
            </div>
            <cite class="castomer-name">Emily, Los Angeles</cite>
          </blockquote>
        </li>
        <li class="castomer-item swiper-slide">
          <blockquote class="castomer-wrap">
            <picture
              ><source
                srcset="
                  ./images/gallery/fotoSam-1x-desk.jpg 1x,
                  ./images/gallery/fotoSam-2x-desk.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/gallery/fotoSam-1x-tab.jpg 1x,
                  ./images/gallery/fotoSam-2x-tab.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/gallery/fotoSam-1x-mob.jpg 1x,
                  ./images/gallery/fotoSam-2x-mob.jpg 2x
                "
                media="(min-width: 480px)"
              />
              <img
                class="castomer-image"
                src="./images/gallery/fotoSam.jpg"
                alt="Foto Sama"
                width="85"
              />
            </picture>

            <div class="castomer-box">
              <p class="castomer-text">
                I love eating popsicles on a hot day. Yours is always delicious.
                I recommend your cafe to everyone I know.
              </p>
            </div>
            <cite class="castomer-name">Sam, Los Angeles</cite>
          </blockquote>
        </li>
        <li class="castomer-item swiper-slide">
          <blockquote class="castomer-wrap">
            <picture
              ><source
                srcset="
                  ./images/gallery/fotoDiana-1x-desk.jpg 1x,
                  ./images/gallery/fotoDiana-2x-desk.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/gallery/fotoDiana-1x-tab.jpg 1x,
                  ./images/gallery/fotoDiana-2x-tab.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/gallery/fotoDiana-1x-mob.jpg 1x,
                  ./images/gallery/fotoDiana-2x-mob.jpg 2x
                "
                media="(min-width: 480px)"
              />
              <img
                class="castomer-image"
                src="./images/gallery/fotoDiana.jpg"
                alt="Foto Diana"
                width="85"
              />
            </picture>

            <div class="castomer-box">
              <p class="castomer-text">
                Ice cream is my passion! I love your chocolate hazelnut ice
                cream! And I really like the excellent service - always served
                politely and quickly!
              </p>
            </div>
            <cite class="castomer-name">Diana, Chicago</cite>
          </blockquote>
        </li>
        <li class="castomer-item swiper-slide">
          <blockquote class="castomer-wrap">
            <picture
              ><source
                srcset="
                  ./images/gallery/fotoBryan-1x-desk.jpg 1x,
                  ./images/gallery/fotoBryan-2x-desk.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/gallery/fotoBryan-1x-tab.jpg 1x,
                  ./images/gallery/fotoBryan-2x-tab.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/gallery/fotoBryan-1x-mob.jpg 1x,
                  ./images/gallery/fotoBryan-2x-mob.jpg 2x
                "
                media="(min-width: 480px)"
              />
              <img
                class="castomer-image"
                src="./images/gallery/fotoBryan.jpg"
                alt="Foto Bryan"
                width="85"
              />
            </picture>

            <div class="castomer-box">
              <p class="castomer-text">
                Every day we come to you with friends after classes in college.
                We love your ice cream and casual atmosphere!
              </p>
            </div>
            <cite class="castomer-name">Bryan, New-York</cite>
          </blockquote>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </section>
</div>
