<section class="hero">
    <div class="container hero-container">
        <div class="title-container">
            <div class="title-and-navigation">
                <h1 class="hero-title">ice cream made with <span class="hero-title-part">passion</span> </h1>
                <ul class="hero-navigation">
                    <li class="products">
                        <a href="#products-section" class="products-button">Products</a>
                    </li>
                    <li class="made">
                        <a href="#about" class="made-button">How it’s made?</a>
                    </li>
                </ul>
            </div>
             
             <div class="cafes-trucks">
                <ul>
                    <li class="cafes-trucks-item">
                        <span class="cafe-trucks-number">16</span>
                        <p class="cafe-trucks-text">cafes</p>
                    </li>
                    <li class="cafes-trucks-item">
                        <span class="cafe-trucks-number">23</span>
                        <p class="cafe-trucks-text">food trucks</p>
                        
                    </li>
                </ul>
             </div>
        </div>
        
        
        <div class="hero-lorem-ipsum">
            <picture>
                <source srcset="./images/hero-header/many-ice-cream-des.png 1x, ./images/hero-header/many-ice-cream-des-2x.png 2x"
                media="(min-width:1200px)">
                <source srcset="./images/hero-header/many-ice-cream-tab.png 1x, ./images/hero-header/many-ice-cream-tab-2x.png 2x"
                    media="(min-width:768px)">
                <img class="many-ice-cream" src="./images/hero-header/many-ice-cream-des-2x.png" alt="много мороженок">
            </picture>
           <div class="hero-lorem-ipsum-block">
              <p class="hero-lorem-ipsum-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              </p>
              <img src="./images/hero-header/hero-vector.png" alt="вектор">
           </div> 
            
        </div>
        <picture>
            <source srcset="./images/hero-header/hero-ice-cream-des.png 1x, ./images/hero-header/hero-ice-cream-des-2x.png 2x"
                media="(min-width:1200px)">
            <source srcset="./images/hero-header/hero-ice-cream-tab.png 1x, ./images/hero-header/hero-ice-cream-tab-2x.png 2x"
                media="(min-width:768px)">
            <source srcset="./images/hero-header/hero-ice-cream-mob.png 1x, ./images/hero-header/hero-ice-cream-mob-2x.png 2x"
                media="(min-width:320px)">
            <img class="hero-ice-cream" src="./images/hero-header/hero-ice-cream-des-2x.png" alt="мороженое">
        </picture>
        
    </div>

    
</section>